@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

/* 버튼 영역 */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 500;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;

  /* 비활성화 상태 */
  &:disabled {
    opacity: 0.9;
    cursor: not-allowed;
  }

  /* 채우기 스타일 */
  &.fill {
    background-color: v.$grayscale-5;
    color: v.$grayscale-90;

    &:hover:not(:disabled) {
      background-color: v.$grayscale-10;
    }
  }

  /* 테두리 스타일 */
  &.outline {
    border: 1.5px solid v.$grayscale-50;
    color: v.$grayscale-90;

    &:hover:not(:disabled) {
      background-color: v.$grayscale-5;
    }
  }

  /* 취소/경고 스타일 */
  &.danger {
    background-color: v.$dan-color;
    color: v.$color-white;

    &:hover:not(:disabled) {
      background-color: color-mix(in srgb, v.$dan-color, #000 10%);
    }
  }

  /* 등록/수정 스타일 */
  &.submit {
    background-color: v.$succ-color;
    color: v.$color-white;

    &:hover:not(:disabled) {
      filter: brightness(0.8);
    }
  }

  /* 작은 크기 */
  &.sm {
    padding: 0.7px;
  }

  /* 중간 크기 */
  &.md {
    padding: 0.9rem;
  }

  /* 큰 크기 */
  &.lg {
    padding: 1rem;
  }

  /* 전체 너비 */
  &.fullWidth {
    width: 100%;
  }
}
