.container {
  padding: 20px;
  font-family: sans-serif;
  background-color: #f8faf9;
}

.section {
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 5px;
      color: #333333;
    }
  }
}

.statusText {
  color: #228f58;
  font-weight: bold;
}

.emptyMsg {
  color: #e53e3e;
}
