@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.chartCard {
  height: 300px;
  display: flex;
  flex-direction: column;

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    flex-shrink: 0;

    h3 {
      font-size: 1.1rem;
      font-weight: 700;
      color: v.$grayscale-90;
    }

    .legend {
      font-size: 0.9rem;
      color: v.$grayscale-50;
      display: flex;
      align-items: center;
      gap: 6px;

      .dotDark,
      .dotLight {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      .dotDark {
        background-color: v.$grayscale-90;
      }

      .dotLight {
        background-color: v.$grayscale-20;
      }
    }
  }

  .chartPlaceholder {
    flex: 1;
    border: 1px dashed v.$grayscale-20;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: v.$grayscale-50;
    font-size: 1rem;
    background-color: v.$background-5;
  }
}
