.address {
  width: 100%; // 가로폭 동일하게 유지

  .postGroup {
    display: flex;
    width: 100%;
    gap: 8px;

    margin-bottom: 0.5rem;

    > div {
      flex: 1;
      width: 100%;
    }

    button {
      flex-shrink: 0;
      height: 3.4rem; // input 높이와 동일하게 맞춤
      white-space: nowrap; // 글자 줄바꿈 방지
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modalContent {
    width: 500px;
    height: 470px;
    background-color: #fff;
    padding: 10px;
    border: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  }
}
