@use "/src/scss/variables.scss" as *;

.address {
  display: flex;
  flex-direction: column;
  width: 100%; // 가로폭 동일하게 유지
  gap: 8px;

  .postGroup {
    display: flex;
    width: 100%;
    gap: 8px;

    > div {
      flex: 1;
      width: 100%;

      //margin-bottom: 10rem;
    }

    Button {
      width: 8rem;
      height: 3.4rem;
      box-sizing: border-box;

      background-color: $grayscale-5;

      font-size: 0.9rem;
      font-weight: 500;

      cursor: pointer;

      &:hover {
        background-color: $grayscale-10; // 원하는 색상으로 변경
        transition: background-color 0.5s ease; // 모션을 서서히 나타나도록 함
      }
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modalContent {
    width: 500px;
    height: 470px;
    background-color: #fff;
    padding: 10px;
    border: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  }
}
