@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.selectWrap {
  position: relative; // .arrowIcon 위치 조절의 기준점 설정
  width: fit-content;

  > select {
    height: 3rem;
    padding: 0 2rem 0 1.2rem; // 우측 패딩을 확보하여 글자와 아이콘 겹침 방지

    font-size: 0.9rem;

    /* 브라우저 기본 화살표 제거 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid v.$grayscale-50;
    cursor: pointer;

    // 박스 선택 시
    &:focus {
      border-color: v.$primary-40;
      color: v.$grayscale-90;
    }
  }

  /* 리액트 아이콘 위치 고정 */
  .arrowIcon {
    position: absolute;
    top: 50%;
    right: 0.75rem;

    transform: translateY(-50%);

    font-size: 1.25rem;
    color: v.$grayscale-50;

    pointer-events: none; // 클릭 이벤트가 셀렉트태그로 전달되도록 설정
  }
}
