@use "/src/scss/variables.scss" as *;

.addressGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  width: 100%; // 가로폭 동일하게 유지
  gap: 8px;

  .postGroup {
    display: flex;
    width: 100%;
    gap: 8px;

    > div {
      flex: 1;
    }

    button {
      width: 8rem;
      height: 3.4rem;
      box-sizing: border-box;

      background-color: $grayscale-5;

      font-size: 0.9rem;
      font-weight: 500;

      cursor: pointer;

      &:hover {
        background-color: $grayscale-10;
        transition: background-color 0.5s ease;
      }
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-black, 0.3); // 배경 어둡게 처리
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .modalContent {
    width: 500px;
    height: 470px;
    background-color: $color-white; // 대신 변수 사용
    padding: 10px;
  }
}
