@use "/src/scss/variables.scss" as *;

// 페이지 타이틀
.pageTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $grayscale-90;

    .refreshIcon {
      cursor: pointer;
      transition:
        transform 0.1s ease,
        color 0.3s ease;

      &:hover {
        color: $primary-40;
      }

      // React State(isSpinning)로 추가되는 회전 클래스
      &.spinning {
        animation: spin 1s linear infinite;
      }
    }
  }
  .timeInfo {
    font-size: 0.9rem;
    color: $grayscale-90;
  }
}

// 새로고침 아이콘 회전 Keyframes
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
