@use "/src/scss/variables.scss" as *;

.profileImg {
  padding: 20px;
  background-color: $grayscale-5;

  //position: relative;
  //overflow: hidden;
  cursor: pointer;

  //호버 전환 효과
  transition:
    filter 0.2s ease,
    background-color 0.2s ease;

  /* 💡 마우스 호버 시 영역 전체가 살짝 어두워짐 */
  &:hover {
    filter: brightness(0.97);
  }

  /* 클릭하는 순간 효과 */
  &:active {
    filter: brightness(0.9);
  }

  /* 내부 이미지 및 텍스트 정렬 설정 */
  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
