@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.editor {
  padding: 48px;
  outline: 1px dotted red;

  > h3 {
    margin-bottom: 24px;
    font-size: 1.5rem;
    color: v.$grayscale-90;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.title {
  display: flex;
  gap: 8px;
  width: 60%;

  > input {
    width: 100%;
  }
}

.content {
  height: 300px;

  > textarea {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    border: 1px solid v.$grayscale-10;
    border-radius: 0.5rem;
    font-size: 1rem;
    resize: none;
  }
}

.formFooter {
  @include mix.flex($jc: space-between, $ai: flex-end);

  .submitGroup {
    @include mix.flex;
    gap: 0.5rem;
    outline: 1px dotted red;

    button {
      width: 100px;
    }
  }
}
