// 말줄임표 믹스인
@mixin textLine($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: $line;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// flex박스
@mixin flex($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
