// 말줄임표 믹스인
@mixin textLine($line: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: $line;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// 공통으로 적용할 flex 스타일
@mixin flex($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

// 전체를 감싸는 wrap 클래스 스타일
@mixin wrap($gap: 32px, $pd: 5rem 0, $fd: row) {
  display: flex;
  flex-direction: $fd;
  gap: $gap;
  margin: 0 auto;
  padding: $pd;
  width: 100%;
  max-width: 80vw;
}
