$font-main: "Pretandard", sans-serif;
$font-logo: "Mulbit", cursive;

$color-white: #ffffff;
$color-black: #111111;

$primary-50: #118b50;
$secondary-50: #e3f0af;
$background-50: #fbf6e9;
$grayscale-50: #bfc5c4;
$point-50: #5db996;

$warn-color: #fbc02d;
$dan-color: #e53835;
$succ-color: #0066ff;
