@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.feedDetail {
  padding: 32px;

  .header {
    @include mix.flex($jc: space-between, $ai: flex-start);
    margin-bottom: 1.5rem;

    // 챌린지명 & 제목
    .titleBox {

      .challengeName {
        display: block;
        padding: 0.5rem 1.2rem;
        width: fit-content;
        border: 1px solid v.$point-20;
        border-radius: 999px;
        color: v.$point-50;

      }

      .title {
        outline: 1px dotted red;
      }

    }

    // 닫기 버튼
    .closeModalButton {
      opacity: 0.7;
      background-color: v.$grayscale-90;
      color: #fff;
      border-radius: 50%;
      transition: 0.2s;

      &:hover {
        opacity: 1;
        transform: rotate(180deg);
      }

      > svg {
        font-size: 2rem;
      }
    }

  }
}

.container {
  position: relative;
  @include mix.wrap($pd: 0);
  gap: 24px;
  outline: 1px dotted red;

  // 등록한 이미지
  .images {
    position: sticky;
    width: 50%;
    height: 540px;
  }
}

// 실제 본문 내용
.content.detail {
  flex: 1;
  background-color: yellow;

  > p {
    margin-bottom: 1rem;
    outline: 1px dotted red;
  }
}

// 댓글
.content.comment {
  margin-top: 3rem;

  // 댓글 등록
  .postComment {
    @include mix.flex($jc: start);
    gap: 0.5rem;
    margin-bottom: 1rem;

    // 입력 필드
    .field {
      flex: 1;

      > input {
        width: 100%;
      }
    }

    // 댓글 등록 버튼
    .registerButton {
      width: 100px; // rem으로 바꿀 것!!
    }
  }
}
