@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.hashtagItem {
  &.tagButton {
    > button {
      @include mix.flex;
      gap: 0.5rem;
      padding: 0.5rem;
      background-color: v.$grayscale-5;
      font-size: 0.875rem;

      .deleteIcon {
        font-size: 1.25rem;
      }

    }
  }


  &.tagText {
    .tagName {
      color: v.$point-50;
    }
  }

}
