@use '/src/scss/variables.scss' as *;
@use '/src/scss/mixin.scss' as mix;

.profileCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 0.875rem;
  width: 100%;
  height: fit-content;
  background-color: $color-white;

  .profileImage {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: $grayscale-10;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .memberId {
      font-size: 1rem;
      font-weight: 500;
      color: $grayscale-90;
    }

    .meta {
      display: flex;
      gap: 0.5rem;
      font-size: 0.75rem;
      color: $point-60;
    }
  }

  .more {
    > button {
      @include mix.flex;
      padding: 0.5rem 0 0.5rem 0.5rem;
      font-size: 1rem;
    }
  }
}
