@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.wrap {
  > input {
    width: 100%;
    height: 3.4rem;
    padding: 0 16px;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    border: 1.5px solid v.$point-20;
    transition: background-color 0.5s ease;

    &::placeholder {
      color: v.$grayscale-50;
      font-weight: 400;
      font-size: 0.9rem;
    }

    &:focus {
      border: 1.5px solid v.$point-20;
      background-color: v.$point-5;
      outline: none;

      &::placeholder {
        color: v.$grayscale-90;
      }
    }
  }
}
