@use "/src/scss/variables.scss" as *;

.container {
  border-top: 1px solid $grayscale-90;
  padding: 80px 0px 80px 0px;
  display: flex; //flex 모드를 켬
  flex-direction: column; // 요소를 세로로 쌓음
  align-items: center; //가운데정렬
}

.copyright {
  color: $grayscale-90;
  margin: 0;
}

.logoText {
  font-family: $font-logo;
  font-size: 20px;
  font-weight: 800;
  color: $grayscale-90;
  margin: 0;
  cursor: pointer;
}
