@use "../../scss/variables.scss" as v;
@use "../../scss/mixin.scss" as mix;

.wrap {
  display: flex;
  flex-direction: column;

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 80vw;

    h2 {
      font-family: v.$font-logo;
      font-weight: 400;
    }

    > section {
      padding: 80px 0 48px;
    }
  }
}
