@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.uploadImage {
  padding: 24px;
  border: 1px solid v.$grayscale-10;
  border-radius: 0.5rem;

  .preview {
    @include mix.flex($jc: flex-start);
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    -webkit-overflow-scrolling: touch;
    //scroll-behavior: smooth;
    padding-bottom: 1rem;

    // 스크롤바
    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 3px;
    }

    .previewItem {
      position: relative;
      flex: 0 0 280px;
      //scroll-snap-align: start;

      outline: 1px dotted red;
    }

    &.noImages {
      @include mix.flex($fd: column);
      gap: 1rem;
      margin: 2rem 0;

      > .icon {
        font-size: 3rem;
        color: v.$grayscale-50;
      }
    }
  }

}

.badgeContainer {

}

// 대표 이미지 뱃지
.representativeBadge {
  position: absolute;
  top: 0;
  padding: 8px;
  font-size: 14px;
  background-color: v.$grayscale-50;
}

.registerImageButton {
  margin-top: 1rem;
  text-align: center;
}


