@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.tabContainer {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid v.$grayscale-20;
}

.tab {
  display: flex;
  position: relative;
  align-items: center;
  gap: 6px;

  font-size: 1rem;
  font-weight: 700;
  color: v.$grayscale-90;
  background: none;
  border: none;
  cursor: pointer;

  transition: color 0.2s ease;

  &:hover {
    color: v.$primary-20;
  }

  &.activeTab {
    color: v.$primary-40;

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: v.$primary-40;
    }
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: v.$color-white;

  border-radius: 100px;
  background-color: v.$dan-color;
}
