@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.mainTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: v.$grayscale-10;
}
