@use "/src/scss/variables.scss" as *;
@use "/src/scss/mixin.scss" as mix;

.bubble {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  outline: 1px dotted red;

  &.mine {
    align-items: flex-end;

    .text {
      background-color: yellow;
    }
  }

  &.other {
    .text {
      background-color: lightgray;
    }
  }

  .text {
    padding: 1rem;
    width: fit-content;
  }
}
