@use "/src/scss/variables.scss" as *;

.adminLayout {
  display: flex;
  min-height: 100vh;

  background-color: $grayscale-5;
  font-family: $font-main;
  color: $grayscale-90;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
