@use "/src/scss/variables.scss" as *;

.passwordGroup {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  > div {
    flex: 1;
    min-width: 0;
  }
}

// 아이콘(눈모양 버튼)을 포함하는 인풋 감싸는 박스
.inputWithIcon {
  position: relative;
  width: 100%;

  input {
    padding-right: 2.8rem;
  }

  .togglePasswordBtn {
    position: absolute;
    right: 0.8rem;
    top: calc(100% - 1.7rem);
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
    color: $grayscale-50;
    cursor: pointer;

    &:hover {
      color: $grayscale-90;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.pwErrorGroup {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  &:empty {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .errorMessage {
    display: block;
    color: $dan-color;
  }

  .successMessage {
    display: block;
    color: $succ-color;
  }
}
