@use "/src/scss/variables.scss" as *;

/* 대시보드 전체 영역 */
.dashboardBody {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 24px;
}

/* 범례 영역 */
.legend {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.9rem;
  color: $grayscale-50;
}

/* 상단 레이아웃 영역 */
.topGrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.25rem;

  .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}

/* 하단 레이아웃 영역 */
.bottomGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
