@use "/src/scss/variables.scss" as *;

.dashboardBody {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legend {
  font-size: 0.9rem;
  color: $grayscale-50;
  display: flex;
  align-items: center;
  gap: 6px;
}

// 상단 2열 레이아웃 Grid
.topGrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr; // 1:1.5 비율
  gap: 20px;

  // 좌측 Column
  .leftColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

// 하단 2열 레이아웃 Grid
.bottomGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
