@use "/src/scss/variables.scss" as *;
@use "/src/scss/mixin.scss" as mix;

.wrap {
  @include mix.wrap;
}

.list {
  flex: 1;
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  /* media - tablet */
  @media screen and (max-width: 1300px) {
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
  }

  /* media - mobile */
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
