@use "../../scss/variables.scss" as v;
@use "../../scss/mixin.scss" as mix;

.wrap {
  @include mix.wrap($fd: column);

}

.tabMenus {
  @include mix.flex;
  gap: 1rem;
  margin-bottom: 2rem;
  outline: 1px dotted red;

  .tabItem {
    width: 50%;
    text-align: center;
    border-radius: 12px;
    background-color: v.$grayscale-10;
    color: #fff;

    &.active {
      color: v.$primary-50;
      background-color: v.$point-5;
    }

    > a {
      display: block;
      padding: 24px 36px;
    }
  }


}
