@use "/src/scss/variables.scss" as *;
@use "/src/scss/mixin.scss" as mix;

.wrap {
  @include mix.wrap($fd: column);

}

.tabMenus {
  @include mix.flex;
  gap: 1rem;
  margin-bottom: 2rem;
  outline: 1px dotted red;

  .tabItem {
    width: 50%;
    text-align: center;
    border-radius: 12px;
    background-color: $grayscale-10;
    color: #fff;

    &.active {
      color: $primary-50;
      background-color: $point-5;
    }

    > a {
      display: block;
      padding: 24px 36px;
    }
  }


}
