@use "/src/scss/variables.scss" as *;
@use "/src/scss/mixin.scss" as mix;

.wrap {
  @include mix.flex;
  gap: 0.5rem;

  input[type='text'] {
    width: 240px;
  }

  .radioGroup {
    @include mix.flex;
    gap: 1rem;

    > label {
      @include mix.flex;
      gap: 0.3rem;
    }
  }

}
