@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.wrap {
  @include mix.flex;
  gap: 0.5rem;

  .textGroup {
    position: relative;

    > input[type="text"] {
      width: 100%;
      min-width: 240px;
    }

    .searchIcon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      font-size: 1.4rem;

      outline: 1px dotted red;
    }
  }

  .radioGroup {
    @include mix.flex;

    display: inline-flex;
    padding: 3px;

    border: 1.5px solid v.$point-20;

    overflow: hidden;
  }
}
