@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

.wrap {
  @include mix.flex;
  gap: 0.5rem;

  .textGroup {
    > input[type='text'] {
      width: 240px;
    }

    .searchIcon {
      font-size: 2.5rem;
    }

  }

  .radioGroup {
    @include mix.flex;
    gap: 1rem;

    > label {
      @include mix.flex;
      gap: 0.3rem;
    }
  }

}
