@use "../../../scss/variables.scss" as v;
@use "../../../scss/mixin.scss" as mix;

/* 로그인 페이지 */
.loginPage {
  display: flex; // 화면 중앙에 배치함.
  justify-content: center;
  align-items: flex-start; // 상단 간격을 고정함.
  padding: 96px 32px; // 내부 여백을 설정함.
}

/* 로그인 컨테이너 */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  form {
    width: 100%;
  }
}

/* 서브 타이틀 */
.subTitle {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

/* 입력 그룹 */
.inputGroup {
  width: 100%;

  .textInput {
    width: 100%;
  }
}

/* 로그인 입력 상자 */
.loginInput {
  margin-bottom: 1.5rem;

  label {
    display: block; // 라벨 요소를 한 줄 전체 영역으로 설정함.
    margin-bottom: 0.5rem;
  }
}

/* 로그인 버튼 */
.loginButton {
  margin-bottom: 0.8rem; // 회원가입 버튼과의 간격을 설정함.
}

/* 계정 정보 링크 영역 */
.ctaAuthLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;

  p {
    opacity: 0.6; // 투명도를 조절함.
    color: v.$grayscale-90;
  }
}

/* 링크 그룹 */
.linkGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* 보조 링크 */
.subLink {
  &:hover {
    font-weight: 600;
    color: v.$point-50;
    text-decoration: underline;
  }
}
