@use "/src/scss/variables.scss" as *;

.loginPage {
  display: flex; // 화면 중앙에 배치함.
  justify-content: center;
  align-items: flex-start; // 상단 간격을 고정함.
  padding: 96px 32px; // 내부 여백을 설정함.
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 20rem;

  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  form {
    width: 100%;
  }
}

.subTitle {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.inputGroup {
  width: 100%;

  .textInput {
    width: 100%;
  }
}

.loginInput {
  margin-bottom: 1.5rem;

  label {
    display: block; // 라벨 요소를 한 줄 전체 영역으로 설정함.
    margin-bottom: 0.5rem;
  }
}

.loginButton {
  margin-bottom: 0.8rem; // 회원가입 버튼과의 간격을 설정함.
}

.ctaAuthLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;

  p {
    opacity: 0.6; // 투명도를 조절함.
    color: $grayscale-90;
  }
}

.linkGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.subLink {
  &:hover {
    font-weight: 600;
    color: $point-50;
    text-decoration: underline;
  }
}
