@use "/src/scss/variables.scss" as *;

.loginPage {
  display: flex; // 전체 가운데정렬
  justify-content: center;
  align-items: flex-start; // 하단 요소에 영향받지 않고 헤더와의 간격 고정
  padding: 6rem 2rem; // 헤더, 푸터와 간격 조정
}

.loginContainer {
  width: 100%;
  max-width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
  }
}

.subTitle {
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.inputGroup {
  width: 100%;

  .textInput {
    width: 100%;
  }
}

.loginInput {
  margin-bottom: 1.5rem;

  // 인풋박스 위에 있는 아이디, 비밀번호
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.loginButton {
  margin-bottom: 0.8rem; // 로그인버튼과 회원가입버튼 사이 상하 간격
}

.ctaAuthLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;

  p {
    color: $grayscale-90; // 가지고 계신 회색조 변수에 맞춰 수정 가능
    opacity: 0.6; // 그레이스케일 컬러 차이간격이 너무 커서 투명도로 조절함
  }

  .linkGroup {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .subLink {
      &:hover {
        color: $point-50;
        font-weight: 600;
        text-decoration: underline;
      }
    }

    // .divider {
    //   font-size: 1rem;
    //   color: $grayscale-90;
    //   user-select: none;
    // }
  }
}
