@use "/src/scss/variables.scss" as *;

// ==========================================
// 페이지 & 메인 컨테이너
// ==========================================
.signUpPage {
  display: flex;
  justify-content: center;
  align-items: flex-start; // 하단 요소에 영향받지 않고 헤더와의 간격 고정
  padding: 6rem 2rem; // 헤더, 푸터와 간격 조정
}

.signUpContainer {
  width: 100%;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  form {
    width: 100%;
  }

  // 폼 내부 공통 Label & Input 기본 스타일
  label {
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    width: 100%;
    height: 3.4rem;
    padding: 0 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    box-sizing: border-box;
    border: 1.5px solid $point-20;
    transition: background-color 0.5s ease;

    &::placeholder {
      color: $grayscale-50;
      font-weight: 400;
      font-size: 0.9rem;
    }

    &:focus {
      border: 1.5px solid $point-20;
      background-color: $point-5;
      outline: none;

      &::placeholder {
        color: $grayscale-90;
      }
    }
  }
}

// ==========================================
// 회원가입 제출 버튼
// ==========================================
.submitButton {
  box-sizing: border-box;
  background-color: $grayscale-5;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 3.4rem;
  margin-bottom: 0.6rem;

  &:hover {
    background-color: $grayscale-10;
    transition: background-color 0.5s ease;
  }
}

// ==========================================
// 하단 로그인 안내 영역
// ==========================================
.ctaLogin {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .loginLink {
    color: $point-50;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 600;
  }
}
